@font-face {
  font-family: Simple-Line-Icons-Pro;
  font-display: block;
  src: url(Simple-Line-Icons-Pro.woff) format("woff");
}

@font-face {
  font-family: 'scotia-ui-kit';
  src:  url('scotia-ui-kit.eot?iuusze');
  src:  url('scotia-ui-kit.eot?iuusze#iefix') format('embedded-opentype'),
  url('scotia-ui-kit.ttf?iuusze') format('truetype'),
  url('scotia-ui-kit.woff?iuusze') format('woff'),
  url('scotia-ui-kit.svg?iuusze#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ui-kit-icon-font-"], [class*=" ui-kit-icon-font-"] {
  font-family: 'scotia-ui-kit', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'light';
  src: url('FrutigerLTforBNS-Light.eot');
  src: local('Frutiger LT for BNS Light'), local('FrutigerLTforBNS-Light'),
  url('FrutigerLTforBNS-Light.eot?#iefix') format('embedded-opentype'),
  url('FrutigerLTforBNS-Light.woff2') format('woff2'),
  url('FrutigerLTforBNS-Light.woff') format('woff'),
  url('FrutigerLTforBNS-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'frutiger';
  src: url('FrutigerLTforBNS-Light.eot');
  src: local('Frutiger LT for BNS Light'), local('FrutigerLTforBNS-Light'),
  url('FrutigerLTforBNS-Light.eot?#iefix') format('embedded-opentype'),
  url('FrutigerLTforBNS-Light.woff2') format('woff2'),
  url('FrutigerLTforBNS-Light.woff') format('woff'),
  url('FrutigerLTforBNS-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'frutiger-lt-light';
  src: url('FrutigerLTforBNS-Light.eot');
  src: local('Frutiger LT for BNS Light'), local('FrutigerLTforBNS-Light'),
  url('FrutigerLTforBNS-Light.eot?#iefix') format('embedded-opentype'),
  url('FrutigerLTforBNS-Light.woff2') format('woff2'),
  url('FrutigerLTforBNS-Light.woff') format('woff'),
  url('FrutigerLTforBNS-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'roman';
  src: url('FrutigerLTforBNS-Roman.eot');
  src: local('Frutiger LT for BNS Roman Bold'),
  url('FrutigerLTforBNS-Roman.eot?#iefix') format('embedded-opentype'),
  url('FrutigerLTforBNS-Roman.woff2') format('woff2'),
  url('FrutigerLTforBNS-Roman.woff') format('woff'),
  url('FrutigerLTforBNS-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'frutiger-lt-roman';
  src: url('FrutigerLTforBNS-Roman.eot');
  src: local('Frutiger LT for BNS Roman Bold'),
  url('FrutigerLTforBNS-Roman.eot?#iefix') format('embedded-opentype'),
  url('FrutigerLTforBNS-Roman.woff2') format('woff2'),
  url('FrutigerLTforBNS-Roman.woff') format('woff'),
  url('FrutigerLTforBNS-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'bold';
  src: url('FrutigerLTforBNS-Bold.eot');
  src: local('Frutiger LT for BNS Light Bold'), local('FrutigerLTforBNS-Bold'),
  url('FrutigerLTforBNS-Bold.eot?#iefix') format('embedded-opentype'),
  url('FrutigerLTforBNS-Bold.woff2') format('woff2'),
  url('FrutigerLTforBNS-Bold.woff') format('woff'),
  url('FrutigerLTforBNS-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'frutiger-lt-bold';
  src: url('FrutigerLTforBNS-Bold.eot');
  src: local('Frutiger LT for BNS Light Bold'), local('FrutigerLTforBNS-Bold'),
  url('FrutigerLTforBNS-Bold.eot?#iefix') format('embedded-opentype'),
  url('FrutigerLTforBNS-Bold.woff2') format('woff2'),
  url('FrutigerLTforBNS-Bold.woff') format('woff'),
  url('FrutigerLTforBNS-Bold.ttf') format('truetype');
}



html, body {
  font-family: 'light';
}
