.title {
    color: #7d7d7d;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description { 
    color: #9b9b9b;
    font-size: 15px;
    line-height: 1.3;
    white-space: pre-wrap;
    height: 55px;
}

.button-primary {
    background-color: #af0d0d;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.img-pizza {
    border-radius: 4px;
    width: 300px;
    height: 170px;
}

.shopping-cart {
    color: #ffc107;
    cursor: pointer;
}

.shopping-cart:hover {
    color: #d19d00;
    text-decoration: none;
}

.shopping-cart {
    position: absolute;
    left: 1180px;
    top: 17px;
}

.shopping-cart i {
    font-size: 10px;
    background: #ffc107;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;
    left: 14px;
    top: -6px;
    border: 1px solid #fff;
}

@media screen and (max-width: 1125px) {
    .img-pizza {
        border-radius: 4px;
        width: 240px;
        height: 130px;
    }

    .description { 
        color: #9b9b9b;
        font-size: 15px;
        line-height: 1.3;
        white-space: pre-wrap;
        height: 70px;
    }
}

@media screen and (max-width: 991px) {
    .img-pizza {
        border-radius: 4px;
        width: 280px;
        height: 150px;
    }
}

@media screen and (max-width: 767px) {
    .img-pizza {
        border-radius: 4px;
        width: 100%;
        height: 150px;
    }
}
