.loader {
	border-radius: 50%;
    width: 48px;
    height: 48px;
    top: 0;
    display: block;
    font-size: 4px;
    position: absolute;
    border-top: 1.1em solid #d6d6d6;
    border-right: 1.1em solid #d6d6d6;
    border-bottom: 1.1em solid #d6d6d6;
    border-left: 1.1em solid #ffffff00;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader-wrapper {
    position: fixed;
    background: #ffffff6b;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 99999;
}

.rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
	from {
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes rotating {
	from {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }